@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Cutive+Mono&family=Noto+Serif+KR&family=Open+Sans&family=Playfair+Display&display=swap");
/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Cutive Mono', monospace;
font-family: 'Noto Serif KR', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Open+Sans&family=Prata&family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

table, th, td {
  border-collapse: collapse; }

fieldset {
  border: none; }

input, select, textarea {
  outline: 0; }

textarea {
  resize: none; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }

.h {
  position: absolute;
  top: -999999px;
  opacity: 0; }

input, a, img, span, label, select {
  vertical-align: middle; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

table, th, td {
  border-collapse: collapse; }

fieldset {
  border: none; }

input, select, textarea {
  outline: 0; }

textarea {
  resize: none; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }

.h {
  position: absolute;
  top: -999999px;
  opacity: 0; }

input, a, img, span, label, select {
  vertical-align: middle; }

/* header--------------------------- */
#header_sub {
  width: 100%;
  position: relative;
  z-index: 2; }
  #header_sub .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      left: 0px;
      bottom: 8px; }
      #header_sub .inner > h1 > a {
        font: bold 24px/1 'Playfair Display';
        color: #333;
        letter-spacing: 3px; }
    #header_sub .inner .menuWeb .gnb {
      position: absolute;
      bottom: 0;
      right: 0; }
      #header_sub .inner .menuWeb .gnb::after {
        content: "";
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb .gnb > li {
        float: left; }
        #header_sub .inner .menuWeb .gnb > li::after {
          content: "";
          display: block;
          width: 0px;
          height: 2px;
          background: #736868;
          transition: 0.5s; }
        #header_sub .inner .menuWeb .gnb > li:hover::after {
          height: 2px;
          width: 100%; }
        #header_sub .inner .menuWeb .gnb > li.on::after {
          content: "";
          display: block;
          width: 100%;
          height: 1.5;
          background: #736868; }
        #header_sub .inner .menuWeb .gnb > li > a {
          display: block;
          padding: 0px 45px;
          height: 50px;
          font: bold 18px/50px 'Cormorant Garamond';
          color: #555;
          box-sizing: border-box; }
        #header_sub .inner .menuWeb .gnb > li .sub {
          width: 1180px;
          height: 300px;
          position: absolute;
          top: 51px;
          right: 0;
          display: none; }
          #header_sub .inner .menuWeb .gnb > li .sub .left {
            width: 20%;
            height: 100%;
            float: left; }
            #header_sub .inner .menuWeb .gnb > li .sub .left > img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          #header_sub .inner .menuWeb .gnb > li .sub .right {
            width: 80%;
            height: 100%;
            background: #fff;
            float: right;
            padding: 10px;
            box-sizing: border-box; }
            #header_sub .inner .menuWeb .gnb > li .sub .right > .depth {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-content: flex-start;
              flex-wrap: wrap; }
              #header_sub .inner .menuWeb .gnb > li .sub .right > .depth > ul > li::after {
                content: "";
                display: block;
                width: 0px;
                height: 1px;
                background: #736868;
                transition: 0.5s; }
              #header_sub .inner .menuWeb .gnb > li .sub .right > .depth > ul > li:hover::after {
                width: 100%; }
              #header_sub .inner .menuWeb .gnb > li .sub .right > .depth > ul > li a {
                display: block;
                font: bold 17px 'Cormorant Garamond';
                color: #999;
                text-align: center; }
                #header_sub .inner .menuWeb .gnb > li .sub .right > .depth > ul > li a:hover {
                  color: #222; }
          #header_sub .inner .menuWeb .gnb > li .sub::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: -100%;
            background: #D9D5D2; }
          #header_sub .inner .menuWeb .gnb > li .sub::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 100%;
            background: #D9D5D2; }
    #header_sub .inner .menuWeb .util {
      position: absolute;
      top: 20px;
      right: 0px; }
      #header_sub .inner .menuWeb .util::after {
        content: "";
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb .util li {
        float: left; }
        #header_sub .inner .menuWeb .util li a {
          display: block;
          font: 12px/1 "arial";
          color: #999;
          padding: 0px 10px;
          border-right: 1px solid #aaa; }
        #header_sub .inner .menuWeb .util li:last-child a {
          border-right: none; }
    #header_sub .inner .btnMo {
      position: absolute;
      color: #555;
      font-size: 30px;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
      #header_sub .inner .btnMo::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnMo::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnMo span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header_sub .inner .btnMo.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header_sub .inner .btnMo.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header_sub .inner .btnMo.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header_sub .inner .menuMo {
      width: 270px;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: -270px;
      z-index: 10;
      transition: all 0.5s;
      padding: 35px 30px;
      box-sizing: border-box; }
      #header_sub .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header_sub .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 "arial";
          color: #fff;
          text-align: center; }
        #header_sub .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header_sub .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #444;
        font: bold 14px/1 "arial";
        color: #888;
        text-align: center; }
      #header_sub .inner .menuMo.on {
        left: 0; }

/* content-------------------------- */
.content {
  width: 100%;
  padding: 0px 0px 100px;
  z-index: 1; }
  .content .sub_visual {
    width: 100%;
    height: 400px;
    background: #bbb;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
    .content .sub_visual .textFrame {
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      .content .sub_visual .textFrame > .txt {
        width: 400px;
        height: 200px;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        box-sizing: border-box; }
        .content .sub_visual .textFrame > .txt h1 {
          font: bold 40px "Cormorant Garamond";
          font-weight: 900;
          color: #000;
          letter-spacing: 2px;
          text-align: left;
          margin-bottom: 20px; }
        .content .sub_visual .textFrame > .txt p {
          font: 12px/1.5 'Open Sans';
          color: #555;
          background-color: #fff;
          padding: 20px 10px; }
  .content .inner {
    width: 1180px;
    margin: 0px auto;
    min-height: 500px; }
    .content .inner h1 {
      font: bold 20px "Cormorant Garamond";
      font-weight: 700;
      color: #000;
      letter-spacing: 2px;
      text-align: left;
      margin-bottom: 50px;
      margin-top: 50px; }
      .content .inner h1::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #555;
        margin-top: 10px; }
    .content .inner p {
      font: 12px/1.5 'Open Sans';
      color: #555; }

/* footer--------------------------- */
#footer_sub {
  width: 100%;
  background: #fff;
  overflow: hidden; }
  #footer_sub::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #555; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    #footer_sub .inner .wrap1 {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #555; }
      #footer_sub .inner .wrap1 .sec1 {
        width: calc( ( 100% / 3) *2);
        display: flex;
        justify-content: space-between; }
        #footer_sub .inner .wrap1 .sec1 svg {
          width: 60px;
          height: 60px;
          display: block;
          color: #333;
          opacity: 0.5;
          transition: 0.3s;
          margin-right: 20px;
          padding: 20px;
          box-sizing: border-box; }
          #footer_sub .inner .wrap1 .sec1 svg:hover {
            opacity: 1; }
        #footer_sub .inner .wrap1 .sec1 .footermenu {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          margin: 0 20px;
          box-sizing: border-box; }
          #footer_sub .inner .wrap1 .sec1 .footermenu > li {
            box-sizing: border-box; }
            #footer_sub .inner .wrap1 .sec1 .footermenu > li > a {
              font: bold 15px/60px 'Cormorant Garamond';
              color: #444; }
      #footer_sub .inner .wrap1 .newsletter {
        width: calc(100% / 3);
        padding: 20px 0 20px 0;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        border-left: 1px solid #555; }
        #footer_sub .inner .wrap1 .newsletter input[type=text] {
          width: 80%;
          font: bold 12px 'Open Sans';
          border: none;
          border-bottom: 1px solid #333; }
          #footer_sub .inner .wrap1 .newsletter input[type=text]::placeholder {
            font: 10px/60px 'Open Sans';
            color: #999;
            text-align: left; }
        #footer_sub .inner .wrap1 .newsletter a > svg {
          display: block;
          width: 20px;
          height: 18px;
          color: #888;
          opacity: 0.5;
          transition: 0.3s; }
          #footer_sub .inner .wrap1 .newsletter a > svg:hover {
            opacity: 1;
            color: #111; }
    #footer_sub .inner .wrap2 {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
      #footer_sub .inner .wrap2 > h1 {
        width: calc( 100% / 3); }
        #footer_sub .inner .wrap2 > h1 > a {
          display: block;
          box-sizing: border-box;
          font: bold 20px/100px 'Playfair Display';
          color: #333;
          letter-spacing: 3px;
          text-align: left; }
      #footer_sub .inner .wrap2 > p {
        width: calc( 100% / 3);
        display: block;
        box-sizing: border-box;
        font: 10px/100px 'Open Sans';
        color: #444;
        letter-spacing: 1.5px;
        text-align: center; }
      #footer_sub .inner .wrap2 .sns {
        width: calc( 100% / 3);
        display: flex;
        justify-content: flex-end; }
        #footer_sub .inner .wrap2 .sns svg {
          display: block;
          width: 20px;
          height: 100px;
          color: #333;
          margin-left: 15px; }

/* tablet------------------------------------------ */
@media screen and (max-width: 1179px) {
  /* header--------------------------- */
  #header_sub .inner {
    width: 100%;
    height: 100px; }
    #header_sub .inner > h1 {
      left: 20px; }
    #header_sub .inner .menuWeb {
      display: none; }
    #header_sub .inner .btnMo {
      display: block; }

  /* content-------------------------- */
  .content {
    width: 100%;
    padding: 0px 0px 100px; }
    .content .sub_visual {
      height: 200px; }
      .content .sub_visual .textFrame {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative; }
        .content .sub_visual .textFrame > .txt {
          width: 300px;
          height: 200px;
          position: absolute;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
          box-sizing: border-box; }
          .content .sub_visual .textFrame > .txt h1 {
            font: bold 40px "Cormorant Garamond";
            font-weight: 900;
            color: #000;
            letter-spacing: 2px;
            text-align: left;
            margin-bottom: 20px;
            line-height: 200px;
            text-align: right;
            padding: 0 20px;
            box-sizing: border-box; }
          .content .sub_visual .textFrame > .txt p {
            font: 12px/1.5 'Open Sans';
            color: #555;
            background-color: #fff;
            padding: 20px 10px;
            display: none; }
    .content .inner {
      width: 100%;
      padding: 0px 30px; }

  /* footer--------------------------- */
  #footer_sub .inner {
    width: 100%;
    padding: 0 20px; }
    #footer_sub .inner .wrap1 .sec1 svg {
      margin-right: 0px; }
    #footer_sub .inner .wrap1 .sec1 .footermenu {
      margin: 0px 10px; }
      #footer_sub .inner .wrap1 .sec1 .footermenu > li > a {
        font: bold 14px/60px 'Cormorant Garamond'; }
    #footer_sub .inner .wrap2 > p {
      letter-spacing: 0px; } }
/* mobile------------------------------------------ */
@media screen and (max-width: 539px) {
  /* content-------------------------- */
  .content {
    width: 100%;
    padding: 0px 0px 100px; }
    .content .sub_visual {
      height: 200px; }
    .content .inner {
      width: 100%;
      padding: 0px 30px; }

  /* footer--------------------------- */
  #footer_sub .inner .wrap1 .sec1 {
    width: 100%; }
    #footer_sub .inner .wrap1 .sec1 .footermenu {
      margin: 0px; }
      #footer_sub .inner .wrap1 .sec1 .footermenu > li > a {
        font: bold 14px/60px 'Cormorant Garamond'; }
  #footer_sub .inner .wrap1 .newsletter {
    display: none; }
  #footer_sub .inner .wrap2 > h1 > a {
    font-size: 15px; }
  #footer_sub .inner .wrap2 > p {
    font: 5px/100px;
    letter-spacing: 0px;
    display: none; }
  #footer_sub .inner .wrap2 .sns svg {
    width: 15px; } }
.community .sub_visual {
  background-image: url(../img/4_visual/vis2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
.community .inner {
  position: relative; }
  .community .inner #service {
    width: 100%; }
    .community .inner #service .wrap {
      display: flex;
      justify-content: space-between; }
      .community .inner #service .wrap > p {
        width: 40%;
        font: bold 13px/1.5 'Open Sans';
        color: #222;
        letter-spacing: 1px;
        padding: 0px 100px 0 0;
        box-sizing: border-box; }
      .community .inner #service .wrap .toggle {
        width: 60%;
        padding: 0px 0 0 20px;
        box-sizing: border-box; }
        .community .inner #service .wrap .toggle dt {
          width: 100%;
          font: bold 13px/1 'Open Sans';
          letter-spacing: 1.5px;
          border-bottom: 1px solid #333;
          padding: 10px 0;
          box-sizing: border-box;
          margin-bottom: 10px;
          cursor: pointer;
          transition: 0.3s;
          opacity: 0.5;
          position: relative; }
          .community .inner #service .wrap .toggle dt svg {
            font-size: 20px;
            position: absolute;
            margin: 0 auto;
            bottom: 7px;
            right: 0; }
          .community .inner #service .wrap .toggle dt:hover {
            opacity: 1; }
          .community .inner #service .wrap .toggle dt.on {
            opacity: 1; }
        .community .inner #service .wrap .toggle dd {
          width: 100%;
          padding: 11px 0;
          box-sizing: border-box;
          font: 12px/1.5 'Open Sans';
          color: #555; }
  .community .inner #news {
    width: 100%; }
    .community .inner #news > .wrap {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-left: 20%;
      margin-bottom: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #555; }
      .community .inner #news > .wrap > article {
        width: 100%;
        padding: 0 20px 0 0;
        box-sizing: border-box; }
        .community .inner #news > .wrap > article .pic {
          width: 100%;
          height: 250px;
          background-repeat: no-repeat;
          background-size: cover;
          filter: saturate(50%); }
        .community .inner #news > .wrap > article .txt > h2 {
          font: bold 13px/1 'open sans';
          letter-spacing: 1.5;
          color: #000;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 5px;
          letter-spacing: 1px; }
        .community .inner #news > .wrap > article .txt > p {
          font: 11px/1.5 'Open Sans';
          color: #555;
          margin-bottom: 30px; }
    .community .inner #news > a {
      font: 15px/1 'Cormorant Garamond';
      color: #111;
      width: 80px;
      margin-left: 20%;
      display: block;
      opacity: 0.8;
      transition: 0.5s; }
      .community .inner #news > a::after {
        content: "";
        display: block;
        width: 0%;
        height: 1px;
        background-color: #555;
        transition: 0.5s;
        margin-top: 5px; }
      .community .inner #news > a:hover::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #555; }
  .community .inner #question {
    width: 100%; }
    .community .inner #question .wrap {
      display: flex;
      justify-content: space-between; }
      .community .inner #question .wrap > p {
        width: 40%;
        font: bold 13px/1.5 'Open Sans';
        color: #222;
        letter-spacing: 1px;
        padding: 0px 100px 0 0;
        box-sizing: border-box; }
      .community .inner #question .wrap .question {
        width: 60%;
        padding: 0px 0 0 20px;
        box-sizing: border-box; }
        .community .inner #question .wrap .question table {
          width: 100%;
          border-top: 1px solid #999;
          border-bottom: 1px solid #999; }
          .community .inner #question .wrap .question table tr:hover td {
            background: #D9D5D2; }
          .community .inner #question .wrap .question table tr th {
            font: bold 13px/1.5 'Open Sans';
            color: #333;
            padding: 15px;
            background: #fff;
            box-sizing: border-box;
            border-bottom: 1px solid #ddd;
            text-align: center; }
            .community .inner #question .wrap .question table tr th:nth-of-type(1) {
              width: 10%; }
            .community .inner #question .wrap .question table tr th:nth-of-type(2) {
              width: 40%; }
            .community .inner #question .wrap .question table tr th:nth-of-type(3) {
              width: 20%; }
            .community .inner #question .wrap .question table tr th:nth-of-type(4) {
              width: 20%; }
          .community .inner #question .wrap .question table tr td {
            font: 11px/1.5 'Open Sans';
            padding: 13px;
            box-sizing: border-box;
            border-bottom: 1px solid #ddd;
            text-align: center;
            color: #555; }
            .community .inner #question .wrap .question table tr td > a {
              color: #555;
              font-family: 'Open Sans';
              line-height: 1.5; }
        .community .inner #question .wrap .question .pagination {
          width: 100%;
          text-align: center; }
          .community .inner #question .wrap .question .pagination .prev {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 20px;
            line-height: 40px;
            color: #555;
            text-align: center;
            opacity: 0.5;
            transition: 0.2s; }
            .community .inner #question .wrap .question .pagination .prev:hover {
              opacity: 1; }
          .community .inner #question .wrap .question .pagination .numbers {
            display: inline-block;
            text-align: center;
            font-size: 0; }
            .community .inner #question .wrap .question .pagination .numbers a {
              display: inline-block;
              width: 30px;
              height: 30px;
              font: 13px/30px "Open Sans";
              color: #666;
              text-align: center;
              margin: 0 5px;
              transition: 0.5s; }
              .community .inner #question .wrap .question .pagination .numbers a::after {
                content: "";
                display: block;
                width: 0%;
                height: 1px;
                background-color: #555;
                transition: 0.5s; }
              .community .inner #question .wrap .question .pagination .numbers a:hover::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #555; }
          .community .inner #question .wrap .question .pagination .next {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 20px;
            line-height: 40px;
            color: #555;
            text-align: center;
            opacity: 0.5;
            transition: 0.2s; }
            .community .inner #question .wrap .question .pagination .next:hover {
              opacity: 1; }

/*tablet------------------------------------------------------------------*/
@media screen and (max-width: 1179px) {
  .community .inner table tr th:nth-of-type(1) {
    width: 11%; }
  .community .inner table tr th:nth-of-type(3) {
    width: 16%; }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none; }
  .community .inner table tr td:nth-of-type(4) {
    display: none; }
  .community .inner .pagination .numbers a:nth-of-type(6) {
    display: none; }
  .community .inner .pagination .numbers a:nth-of-type(7) {
    display: none; }
  .community .inner .pagination .numbers a:nth-of-type(8) {
    display: none; }
  .community .inner .pagination .numbers a:nth-of-type(9) {
    display: none; }
  .community .inner .pagination .numbers a:nth-of-type(10) {
    display: none; } }
/*mobile------------------------------------------------------------------*/
@media screen and (max-width: 539px) {
  .community .inner h1 {
    font-size: 45px; }
  .community .inner table tr th {
    font-size: 14px; }
    .community .inner table tr th:nth-of-type(1) {
      width: 0%;
      display: none; }
    .community .inner table tr th:nth-of-type(3) {
      width: 27%; }
  .community .inner table tr td {
    font-size: 13px; }
    .community .inner table tr td:nth-of-type(1) {
      display: none; }
  .community .inner .pagination .numbers {
    display: none; } }
.department .sub_visual {
  background-image: url(../img/4_visual/vis1.jpg);
  z-index: 1; }
.department #process > h1 {
  margin-bottom: 100px; }
.department #process .quote {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  box-sizing: border-box; }
  .department #process .quote > p {
    text-align: center;
    padding: 0px 10px;
    box-sizing: border-box;
    font: bold 15px/2 'Playfair Display';
    color: #111;
    letter-spacing: 1.5px;
    margin-bottom: 50px; }
  .department #process .quote svg {
    width: 10px;
    height: 10px;
    color: #666;
    display: block; }
.department #process > ul {
  display: flex;
  justify-content: center; }
  .department #process > ul li {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 50px;
    box-sizing: border-box; }
    .department #process > ul li span {
      font: bold 80px/1 'Playfair Display';
      color: #D9D5D2; }
    .department #process > ul li h2 {
      font: bold 15px/1 'open sans';
      letter-spacing: 1.5;
      color: #000;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      letter-spacing: 1px; }
    .department #process > ul li p {
      color: #777; }
.department #team {
  width: 100%;
  overflow: hidden; }
  .department #team .ourTeam {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 10%; }
    .department #team .ourTeam::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #555; }
  .department #team article {
    width: 30%;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; }
    .department #team article .pic {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      filter: saturate(50%); }
    .department #team article .txt > h2 {
      font: bold 12px/1 'open sans';
      letter-spacing: 1.5;
      color: #000;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 5px;
      letter-spacing: 1px; }
    .department #team article .txt > p {
      font: 10px/1.5 'Open Sans';
      color: #555; }
  .department #team > a {
    font: 15px/1 'Cormorant Garamond';
    color: #111;
    width: 80px;
    margin-left: 10%;
    display: block;
    opacity: 0.8;
    transition: 0.5s;
    margin-top: 20px; }
    .department #team > a::after {
      content: "";
      display: block;
      width: 0%;
      height: 1px;
      background-color: #555;
      transition: 0.5s;
      margin-top: 5px; }
    .department #team > a:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #555; }
.department #org .division {
  width: 100%;
  height: 600px;
  background: url(../img/organization.jpg) no-repeat center/contain; }
  .department #org .division .div_tree {
    opacity: 0;
    position: absolute;
    top: -999999px;
    transition: all 0.3s; }
    .department #org .division .div_tree li span {
      display: block;
      width: 40%;
      height: 50px;
      background: #111;
      margin-bottom: 20px;
      font: bold 13px/50px "arial";
      color: #fff;
      text-align: center;
      border-radius: 25px; }
      .department #org .division .div_tree li span::after {
        content: "";
        background: #aaa;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 1px;
        height: calc( (70px * 15) - 25px); }
    .department #org .division .div_tree li ul li span {
      background: #666;
      transform: translateX(70px); }
      .department #org .division .div_tree li ul li span::before {
        content: "";
        height: 1px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: -20px;
        background: #aaa; }
    .department #org .division .div_tree li ul li:nth-of-type(1) span::after {
      display: none; }
    .department #org .division .div_tree li ul li:nth-of-type(2) span::after {
      display: none; }
    .department #org .division .div_tree li ul li:nth-of-type(3) span::after {
      display: none; }
    .department #org .division .div_tree li ul li:nth-of-type(4) span::after {
      height: calc(70px * 3 - 25px); }
    .department #org .division .div_tree li ul li:nth-of-type(5) span::after {
      height: calc(70px * 3 - 25px); }
    .department #org .division .div_tree li ul li:nth-of-type(6) span::after {
      height: calc(70px * 2 - 25px); }
    .department #org .division .div_tree li ul li:nth-of-type(7) span::after {
      height: calc(70px * 2 - 25px); }
    .department #org .division .div_tree li ul li ul li span {
      background: #999;
      transform: translateX(140px); }

/* Tablet---------------- */
@media screen and (max-width: 1179px) {
  .department .division {
    height: 60vw; } }
/* mobile---------------- */
@media screen and (max-width: 539px) {
  .department .division {
    height: auto;
    background: none; }
    .department .division .div_tree {
      opacity: 1;
      position: relative;
      top: 0; } }
.join {
  padding: 0px 0px 150px; }
  .join .sub_visual {
    background: url(../img/4_visual/vis3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .join .inner h2 {
    font: bold 18px/1 'Cormorant';
    color: #444;
    margin-bottom: 20px; }
  .join .inner #terms {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 20px;
    font: 13px/1.4 " arial";
    color: #888;
    border: 1px solid #aaa;
    background: rgba(248, 230, 208, 0.2);
    margin-bottom: 10px; }
  .join .inner .agreement {
    margin-bottom: 70px; }
    .join .inner .agreement label[for=agree] {
      font: 12px/1 "arial"; }
    .join .inner .agreement input[type=checkbox] {
      margin-right: 5px;
      position: relative;
      top: -1.5px;
      cursor: pointer; }
  .join .inner table {
    width: 100%; }
    .join .inner table tbody {
      border-top: 2px solid #999;
      border-bottom: 2px solid #999; }
      .join .inner table tbody tr th {
        width: 20%;
        text-align: left;
        font: bold 14px/1 'Alegreya Sans';
        color: #666;
        padding: 20px 30px; }
      .join .inner table tbody tr td {
        padding: 20px 30px;
        font: 12px/1.6 "arial"; }
        .join .inner table tbody tr td input[type=text], .join .inner table tbody tr td input[type=password], .join .inner table tbody tr td input[type=date], .join .inner table tbody tr td select {
          width: 30%;
          height: 30px;
          border: 1px solid #aaa;
          background: rgba(248, 230, 208, 0.2);
          padding-left: 15px;
          font: 12px/1 "arial";
          box-sizing: border-box; }
          .join .inner table tbody tr td input[type=text]::placeholder, .join .inner table tbody tr td input[type=password]::placeholder, .join .inner table tbody tr td input[type=date]::placeholder, .join .inner table tbody tr td select::placeholder {
            color: #999; }
          .join .inner table tbody tr td input[type=text]:focus, .join .inner table tbody tr td input[type=password]:focus, .join .inner table tbody tr td input[type=date]:focus, .join .inner table tbody tr td select:focus {
            border: 1px solid #816949; }
        .join .inner table tbody tr td input[type=checkbox], .join .inner table tbody tr td input[type=radio] {
          appearance: none;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid #000;
          margin-right: 10px;
          position: relative;
          top: -1.5px; }
          .join .inner table tbody tr td input[type=checkbox]:checked, .join .inner table tbody tr td input[type=radio]:checked {
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: burlywood; }
        .join .inner table tbody tr td label {
          margin-right: 30px; }
        .join .inner table tbody tr td textarea#message {
          width: 80%;
          height: 100px;
          border: 1px solid #bbb;
          background: rgba(248, 230, 208, 0.2);
          padding: 20px;
          box-sizing: border-box;
          resize: none;
          font: 12px/1 "arial"; }
          .join .inner table tbody tr td textarea#message:focus {
            border: 1px solid #816949; }
        .join .inner table tbody tr td p, .join .inner table tbody tr td span {
          display: none;
          font: 14px/1;
          margin-top: 10px;
          box-sizing: border-box;
          color: lightsalmon;
          transition: all 0.2s; }
          .join .inner table tbody tr td p::before, .join .inner table tbody tr td span::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: lightsalmon; }
        .join .inner table tbody tr td span {
          display: none;
          margin-right: 10px;
          color: #999; }
          .join .inner table tbody tr td span::before {
            background-color: #999; }
          .join .inner table tbody tr td span.error {
            color: lightsalmon; }
            .join .inner table tbody tr td span.error::before {
              background-color: lightsalmon; }
          .join .inner table tbody tr td span.true {
            display: none; }
  .join .inner .btn {
    margin-top: 20px;
    text-align: center; }
    .join .inner .btn input[type=reset], .join .inner .btn input[type=submit] {
      width: 120px;
      height: 40px;
      font: bold 12px/40px "Cormorant";
      color: #666;
      border: 1px solid #777;
      background: #fff;
      margin: 0px 10px;
      cursor: pointer;
      transition: all 0.5s; }
      .join .inner .btn input[type=reset]:hover, .join .inner .btn input[type=submit]:hover {
        background-color: #fddaac; }

/* tablet------------------------------------------ */
@media screen and (max-width: 1179px) {
  .join .inner table tbody tr th {
    width: 30%; }
  .join .inner table tbody tr td input[type=text], .join .inner table tbody tr td input[type=password], .join .inner table tbody tr td input[type=date], .join .inner table tbody tr td select, .join .inner table tbody tr td textarea#message {
    width: 80%; } }
/* mobile------------------------------------------ */
@media screen and (max-width: 539px) {
  .join .inner table tbody tr th {
    width: 20%; }
  .join .inner table tbody tr td input[type=text], .join .inner table tbody tr td input[type=password], .join .inner table tbody tr td input[type=date], .join .inner table tbody tr td select, .join .inner table tbody tr td textarea#message {
    width: 100%; } }
.gallery .sub_visual {
  background-image: url(../img/4_visual/vis4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#gallery::after {
  content: "";
  display: block;
  clear: both; }
#gallery article {
  width: 25%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(200px);
  transition: 1s;
  opacity: 0; }
  #gallery article.on {
    opacity: 1;
    transform: translateY(0px); }
  #gallery article .inner {
    width: 100%;
    box-sizing: border-box; }
    #gallery article .inner .pic {
      width: 100%;
      margin-bottom: 20px; }
      #gallery article .inner .pic img {
        width: 100%;
        object-fit: cover;
        cursor: pointer; }
    #gallery article .inner h2 {
      font: bold 14px/1 'Cormorant';
      color: #444;
      text-align: center; }
      #gallery article .inner h2::before {
        content: "";
        height: 1px;
        width: 100%;
        background: #000;
        display: block;
        margin-bottom: 10px; }
      #gallery article .inner h2::after {
        content: "";
        height: 1px;
        width: 100%;
        background: #000;
        display: block;
        margin-top: 10px; }

#imgPop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(97, 91, 91, 0.774);
  box-sizing: border-box;
  padding: 10vw;
  display: none; }
  #imgPop .pic {
    width: 100%;
    height: 100%;
    background: #000; }
    #imgPop .pic img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  #imgPop span {
    font: bold 14px/1 'Cormorant';
    color: #fff;
    position: absolute;
    bottom: 4vw;
    right: 4vw;
    cursor: pointer; }

@media screen and (max-width: 1179px) {
  #gallery article {
    width: calc(100% /4); } }
@media screen and (max-width: 799px) {
  #gallery article {
    width: calc(100% /3); } }
@media screen and (max-width: 539px) {
  #gallery article {
    width: calc(100% / 2); } }
@media screen and (max-width: 479px) {
  #gallery article {
    width: calc(100%); } }
.youtube .sub_visual {
  background-image: url(../img/4_visual/vis5.jpg);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover; }

.vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start; }
  .vidList article {
    width: 30%;
    height: 350px;
    margin-bottom: 30px; }
    .vidList article .pic {
      display: block;
      width: 100%;
      height: 50%;
      cursor: pointer;
      position: relative; }
      .vidList article .pic > img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .vidList article .pic::after {
        content: "View";
        font: 14px/1 'Cormorant';
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 1s;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8); }
      .vidList article .pic:hover::after {
        opacity: 1; }
    .vidList article .con {
      width: 100%;
      height: 40%;
      box-sizing: border-box;
      padding: 15px 0px; }
      .vidList article .con h2 {
        font: bold 14px/1.2 'Cormorant';
        color: #444;
        margin-bottom: 15px; }
        .vidList article .con h2::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #000;
          margin-bottom: 10px; }
      .vidList article .con p {
        font: 12px/1.4 'Alegreya Sans';
        color: #666;
        margin-bottom: 5px; }
        .vidList article .con p::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #000;
          margin-top: 10px; }
      .vidList article .con span {
        font: 9px 'arial';
        color: #777; }

.vidPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }
  .vidPop .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); }
  .vidPop > span {
    position: absolute;
    bottom: 40px;
    right: 50px;
    font: bold 14px/1.2 'Cormorant';
    color: #fff;
    cursor: pointer; }

@media screen and (max-width: 1179px) {
  .vidList article {
    width: 48%;
    height: 350px;
    margin-bottom: 30px; } }
@media screen and (max-width: 539px) {
  .vidList article {
    width: 100%; }
    .vidList article .con h2::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #000;
      margin-top: 10px; }
    .vidList article .con p {
      display: none; } }
.contact .sub_visual {
  background-image: url(../img/4_visual/vis6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#map {
  width: 100%;
  height: 400px;
  background: #111; }

.traffic {
  float: left;
  margin-top: 20px; }
  .traffic li {
    float: left;
    margin-right: 20px; }
    .traffic li a {
      display: block;
      width: 200px;
      height: 40px;
      border: 1px solid #222;
      font: bold 12px/40px '맑은 고딕';
      color: #111;
      text-align: center;
      transition: 0.3s; }
    .traffic li:hover a {
      background: beige;
      color: #333;
      border: 1px solid #333; }

.branch {
  float: right;
  margin-top: 20px; }
  .branch li {
    float: left;
    margin-right: 10px; }
    .branch li a {
      display: block;
      width: 200px;
      height: 40px;
      border: 1px solid #222;
      font: bold 12px/40px '맑은 고딕';
      color: #111;
      text-align: center;
      transition: 0.3s; }
    .branch li:hover a {
      background: beige;
      color: #333;
      border: 1px solid #333; }

/* header -----------------------------------*/
#header {
  width: 100%;
  position: relative;
  z-index: 2; }
  #header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 0px;
      bottom: 8px; }
      #header .inner > h1 > a {
        font: bold 24px/1 'Playfair Display';
        color: #333;
        letter-spacing: 3px; }
    #header .inner .menuWeb .gnb {
      position: absolute;
      bottom: 0;
      right: 0; }
      #header .inner .menuWeb .gnb::after {
        content: "";
        display: block;
        clear: both; }
      #header .inner .menuWeb .gnb > li {
        float: left; }
        #header .inner .menuWeb .gnb > li::after {
          content: "";
          display: block;
          width: 0px;
          height: 2px;
          background: #736868;
          transition: 0.5s; }
        #header .inner .menuWeb .gnb > li:hover::after {
          height: 2px;
          width: 100%; }
        #header .inner .menuWeb .gnb > li.on::after {
          content: "";
          display: block;
          width: 100%;
          height: 1.5;
          background: #736868; }
        #header .inner .menuWeb .gnb > li > a {
          display: block;
          padding: 0px 45px;
          height: 50px;
          font: bold 18px/50px 'Cormorant Garamond';
          color: #555;
          box-sizing: border-box; }
        #header .inner .menuWeb .gnb > li .sub {
          width: 1180px;
          height: 300px;
          position: absolute;
          top: 51px;
          right: 0;
          display: none; }
          #header .inner .menuWeb .gnb > li .sub .left {
            width: 20%;
            height: 100%;
            float: left; }
            #header .inner .menuWeb .gnb > li .sub .left > img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          #header .inner .menuWeb .gnb > li .sub .right {
            width: 80%;
            height: 100%;
            background: #fff;
            float: right;
            padding: 10px;
            box-sizing: border-box; }
            #header .inner .menuWeb .gnb > li .sub .right > .depth {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-content: flex-start;
              flex-wrap: wrap; }
              #header .inner .menuWeb .gnb > li .sub .right > .depth > ul > li::after {
                content: "";
                display: block;
                width: 0px;
                height: 1px;
                background: #736868;
                transition: 0.5s; }
              #header .inner .menuWeb .gnb > li .sub .right > .depth > ul > li:hover::after {
                width: 100%; }
              #header .inner .menuWeb .gnb > li .sub .right > .depth > ul > li a {
                display: block;
                font: bold 17px 'Cormorant Garamond';
                color: #999;
                text-align: center; }
                #header .inner .menuWeb .gnb > li .sub .right > .depth > ul > li a:hover {
                  color: #222; }
          #header .inner .menuWeb .gnb > li .sub::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 100%;
            background: #D9D5D2; }
          #header .inner .menuWeb .gnb > li .sub::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
            background: #D9D5D2; }
    #header .inner .menuWeb .util {
      position: absolute;
      top: 20px;
      right: 0px; }
      #header .inner .menuWeb .util::after {
        content: "";
        display: block;
        clear: both; }
      #header .inner .menuWeb .util li {
        float: left; }
        #header .inner .menuWeb .util li a {
          display: block;
          font: 12px/1 "arial";
          color: #999;
          padding: 0px 10px;
          border-right: 1px solid #aaa; }
        #header .inner .menuWeb .util li:last-child a {
          border-right: none; }
    #header .inner .btnMo {
      position: absolute;
      color: #555;
      font-size: 30px;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
      #header .inner .btnMo::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnMo::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnMo span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnMo.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      #header .inner .btnMo.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      #header .inner .btnMo.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header .inner .menuMo {
      width: 270px;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: -270px;
      z-index: 10;
      transition: all 0.5s;
      padding: 35px 30px;
      box-sizing: border-box; }
      #header .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 "arial";
          color: #fff;
          text-align: center; }
        #header .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #444;
        font: bold 14px/1 "arial";
        color: #888;
        text-align: center; }
      #header .inner .menuMo.on {
        left: 0; }

/* visual------------------------------------ */
#visual {
  width: 100%;
  height: calc(100vh - 121px);
  background-color: #F2F2F2;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  #visual .inner {
    width: 1180px;
    height: 100%;
    margin: 0px auto;
    position: relative; }

/* footer------------------------------------ */
#footer {
  width: 100%;
  background: #fff;
  overflow: hidden; }
  #footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #555; }
  #footer .inner {
    width: 1180px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    #footer .inner .wrap1 {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #555; }
      #footer .inner .wrap1 .sec1 {
        width: calc( ( 100% / 3) *2);
        display: flex;
        justify-content: space-between; }
        #footer .inner .wrap1 .sec1 svg {
          width: 60px;
          height: 60px;
          display: block;
          color: #333;
          opacity: 0.5;
          transition: 0.3s;
          margin-right: 20px;
          padding: 20px;
          box-sizing: border-box; }
          #footer .inner .wrap1 .sec1 svg:hover {
            opacity: 1; }
        #footer .inner .wrap1 .sec1 .footermenu {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          margin: 0 20px;
          box-sizing: border-box; }
          #footer .inner .wrap1 .sec1 .footermenu > li {
            box-sizing: border-box; }
            #footer .inner .wrap1 .sec1 .footermenu > li > a {
              font: bold 15px/60px 'Cormorant Garamond';
              color: #444; }
      #footer .inner .wrap1 .newsletter {
        width: calc(100% / 3);
        padding: 20px 0 20px 0;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        border-left: 1px solid #555; }
        #footer .inner .wrap1 .newsletter input[type=text] {
          width: 80%;
          font: bold 12px 'Open Sans';
          border: none;
          border-bottom: 1px solid #333; }
          #footer .inner .wrap1 .newsletter input[type=text]::placeholder {
            font: 10px/60px 'Open Sans';
            color: #999;
            text-align: left; }
        #footer .inner .wrap1 .newsletter a > svg {
          display: block;
          width: 20px;
          height: 18px;
          color: #888;
          opacity: 0.5;
          transition: 0.3s; }
          #footer .inner .wrap1 .newsletter a > svg:hover {
            opacity: 1;
            color: #111; }
    #footer .inner .wrap2 {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
      #footer .inner .wrap2 > h1 {
        width: calc( 100% / 3); }
        #footer .inner .wrap2 > h1 > a {
          display: block;
          box-sizing: border-box;
          font: bold 20px/100px 'Playfair Display';
          color: #333;
          letter-spacing: 3px;
          text-align: left; }
      #footer .inner .wrap2 > p {
        width: calc( 100% / 3);
        display: block;
        box-sizing: border-box;
        font: 10px/100px 'Open Sans';
        color: #444;
        letter-spacing: 1.5px;
        text-align: center; }
      #footer .inner .wrap2 .sns {
        width: calc( 100% / 3);
        display: flex;
        justify-content: flex-end; }
        #footer .inner .wrap2 .sns svg {
          display: block;
          width: 20px;
          height: 100px;
          color: #333;
          margin-left: 15px; }

/* tablet------------------------------------------ */
@media screen and (max-width: 1179px) {
  /* header-------------------------------- */
  #header .inner {
    width: 100%;
    height: 100px; }
    #header .inner > h1 {
      left: 20px; }
    #header .inner .menuWeb {
      display: none; }
    #header .inner .btnMo {
      display: block; }

  /* visual--------------------------------- */
  #visual {
    height: calc(100vh - 101px);
    padding: 0px 30px;
    background: url(../img/visual1.jpg) no-repeat center/cover; }
    #visual .inner {
      width: 100%; }

  /* footer--------------------------------- */
  #footer .inner {
    width: 100%;
    padding: 0 20px; }
    #footer .inner .wrap1 .sec1 svg {
      margin-right: 0px; }
    #footer .inner .wrap1 .sec1 .footermenu {
      margin: 0px 10px; }
      #footer .inner .wrap1 .sec1 .footermenu > li > a {
        font: bold 14px/60px 'Cormorant Garamond'; }
    #footer .inner .wrap2 > p {
      letter-spacing: 0px; } }
/* mobile------------------------------------------ */
@media screen and (max-width: 539px) {
  /* visual----------------------------------- */
  #visual {
    height: 400px; }

  /* footer----------------------------------- */
  #footer .inner .wrap1 .sec1 {
    width: 100%; }
    #footer .inner .wrap1 .sec1 .footermenu {
      margin: 0px; }
      #footer .inner .wrap1 .sec1 .footermenu > li > a {
        font: bold 14px/60px 'Cormorant Garamond'; }
  #footer .inner .wrap1 .newsletter {
    display: none; }
  #footer .inner .wrap2 > h1 > a {
    font-size: 15px; }
  #footer .inner .wrap2 > p {
    font: 5px/100px;
    letter-spacing: 0px;
    display: none; }
  #footer .inner .wrap2 .sns svg {
    width: 15px; } }

/*# sourceMappingURL=style.css.map */
