@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap');

// font-family: 'Alegreya Sans', sans-serif;
// font-family: 'Cormorant', serif;
// font-family: 'Forum', cursive;
// font-family: 'Libre Caslon Display', serif;
// font-family: 'Prata', serif;
// font-family: 'Yeseva One', cursive;

.contact { 
    .sub_visual { 
        background-image: url(../img/5_todd-quackenbush-JJB_K8aCPU4-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
#map { 
    width: 100%;
    height: 400px;
    background: #111;
}

.traffic { 
    float: left;
    margin-top : 20px;

    li { 
        float: left;
        margin-right: 20px;

        a { 
            display: block;
            width: 200px;
            height: 40px;
            border: 1px solid #222;
            font: bold 12px/40px '맑은 고딕';
            color: #111;
            text-align: center;
            transition: 0.3s;
        }
        &:hover { 
            a {
                background:beige; color:#333; border:1px solid #333; 
            }
        }
    }
}
.branch { 
    float: right;
    margin-top: 20px;

    li { 
        float: left;
        margin-right: 10px;

        a { 
            display: block;
            width: 200px;
            height: 40px;
            border: 1px solid #222;
            font: bold 12px/40px '맑은 고딕';
            color: #111;
            text-align: center;
            transition: 0.3s;
        }
        &:hover { 
            a {
                background:beige; color:#333; border:1px solid #333; 
            }
        }
    }

}