@charset "utf-8";
$tablet: 1179px;
$mobile: 539px;

.department { 
    .sub_visual { 
        background-image: url(../img/4_kimon-maritz-mQiZnKwGXW0-unsplash.jpg);
        z-index: 1;
    }
    #process { 
        >p { 
            text-align: center;
            padding: 20px 100px;
            box-sizing: border-box;
        }
        >ul {
            display: flex; 
            justify-content: center;
            li { 
                display: flex;
                flex-direction: column;
                align-content: center;
                text-align: center;
                padding: 50px;
                box-sizing: border-box;
    
                span { 
                    font: bold 80px/1 'Playfair Display';
                    color: #D9D5D2;
                }

                h2{
                    font: bold 15px/1 'open sans';
                    letter-spacing: 1.5;
                    color: #000;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    letter-spacing: 1px;
                }
            }

        }
    }
    #team { 
        width: 100%; 
        overflow: hidden;

        .ourTeam { 
            width: 90%;
            display: flex;
            flex-direction: row;     
            flex-wrap: wrap;         
            justify-content: space-between;
            //margin-left: 110px;
            box-sizing: border-box;
            margin: 0px auto;
            //border: 1px solid seagreen;   

            &::after { 
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #555;
            }            
        }
        article { 
            width: 30%;
            height: 400px;
            margin-bottom: 20px;
            //border: 1px solid orange;
            display: flex;
            flex-direction: column;

            .pic { 
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                filter: saturate(50%) ;
            }

            .txt { 
                >h2{
                    font: bold 12px/1 'open sans';
                    
                    letter-spacing: 1.5;
                    color: #000;
                    text-align: left;
                    margin-top: 20px;
                    margin-bottom: 5px;
                    letter-spacing: 1px;
                }
                >p{
                    font: 10px/1.5 'Open Sans';
                    color: #555;
                }
            }
        }
        >a { 
            display: block;
            width: 90%;
            margin: 10px auto;
            box-sizing: border-box;
            font: 12px/1.5 'Open Sans';
            color: #333;
            text-align: left;
            box-sizing: border-box;
            transition: all 0.3s;
            //border: 1px solid green;

            &:hover { 
                font-style: bold;
                font-size: 14px;
                font-weight: 200;
                color:#222;
            }
        }
    }

    .division{
        width: 100%;
        height: 600px;
        background: url(../img/organization.jpg) no-repeat center/contain;

        .div_tree { 
            opacity: 0;
            position: absolute;
            top: -999999px;
            transition: all 0.3s;

            //1단계
            li { 
                span { 
                    display: block;
                    width: 40%;
                    height: 50px; 
                    background: #111;
                    margin-bottom: 20px;
                    font: bold 13px/50px "arial";
                    color: #fff;
                    text-align: center;
                    border-radius: 25px;

                    &::after { 
                        content: "";
                        background: #aaa;
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        width: 1px;
                        height: calc( (70px * 15) - 25px);
                    }
                }        
                //2단계
                ul li { 
                    span { 
                        background: #666;
                        transform: translateX(70px);
                        
                        &::before { 
                            content: "";
                            height: 1px;
                            width: 20px;
                            position: absolute;
                            top: 50%;
                            left: -20px;
                            background: #aaa;
                        }
                    }
                    &:nth-of-type(1) span::after{display: none;}
                    &:nth-of-type(2) span::after{display: none;}
                    &:nth-of-type(3) span::after{display: none;}
                    &:nth-of-type(4) span::after{height: calc(70px * 3 - 25px);}
                    &:nth-of-type(5) span::after{height: calc(70px * 3 - 25px);}
                    &:nth-of-type(6) span::after{height: calc(70px * 2 - 25px);}
                    &:nth-of-type(7) span::after{height: calc(70px * 2 - 25px);}
                    
                    //3단계
                    ul li { 
                        span {
                            background: #999;
                            transform: translateX(140px);
                        }
                    }
                }
            }
        }
    }
}

/* Tablet---------------- */
@media screen and (max-width:$tablet) {
   

    
    // .department { 
    //     .division { 
    //         height: 60vw;
    //     }
    // }
 }

 /* mobile---------------- */
@media screen and (max-width:$mobile) {
    // .department { 
    //     .division { 
    //         height: auto;
    //         background: none; 

    //         .div_tree { 
    //             opacity: 1;
    //             position: relative;
    //             top:0;
    //         }
    //     }
    // }
}