@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap');
$tablet: 1179px;
$mobile: 539px;

// font-family: 'Alegreya Sans', sans-serif;
// font-family: 'Cormorant', serif;
// font-family: 'Forum', cursive;
// font-family: 'Libre Caslon Display', serif;
// font-family: 'Prata', serif;
// font-family: 'Yeseva One', cursive;

.gallery { 
    .sub_visual { 
        background-image: url(../img/4_visual/vis4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    h2 { 
        @include title($fontSize:18px, $fontWeight:400, $mb:0px);
        line-height: 30px;
    }
};
#collection{
    width: 100%;
    >p { 
        display: block;
        width: 50%;
        line-height: 2;
        letter-spacing: 1px;
    }
}
#sort { 
    .wrap { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top:50px;
    
        h2 { 
            width: 50%;
            @include title($fontSize:18px, $fontWeight:400, $mb:0px);
            line-height: 30px;
            box-sizing: border-box;
        }

        .button { 
            width: 50%;
            height: 30px;
            display: flex;
            justify-content: flex-end;

            button { 
                width: 60px;
                height: 30px;
                font: 12px/1 'Open Sans';
                background: none;
                margin-left: 10px;
                box-sizing: border-box;
                border: 1px solid #555;
                cursor: pointer;

                &:hover { 
                    background-color:#D9D5D2;
                }
            }
        }
    }
    
    &::after { 
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #555;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

#search { 
    margin-bottom: 50px;
    .wrap { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top:30px;
    
        h2 { 
            width: 50%;
            @include title($fontSize:18px, $fontWeight:400, $mb:0px);
            line-height: 30px;
            box-sizing: border-box;
        }


        .textSearch { 
            width: 50%;
            height: 30px;
            display: flex;
            justify-content: flex-end;

            input[type=text]
            { 
                width: 100%;
                height: 30px;
                border: none;
                border: 1px solid #555;
                //background: #F2F2F2;
                //border-bottom: 1px solid #D9D5D2;
                padding-left: 15px;
                font: 12px/1.5 'Open Sans';
                box-sizing: border-box;
                color: #333;

                &::placeholder { 
                    color: #999;
                };

                &:focus { 
                    border: 1px solid #736868;
                };
            };

            button { 
                width: 60px;
                height: 30px;
                font: 12px/1 'Open Sans';
                background: none;
                margin-left: 10px;
                box-sizing: border-box;
                border: 1px solid #555;
                cursor: pointer;

                &:hover { 
                    background-color:#D9D5D2;
                }
            }
        }
    }
    
    &::after { 
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #555;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

#gallery { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // &::after { 
    //     content: "";
    //     display: block;
    //     clear: both;
    // }
    article { 
        width: 25%;
        // float : left;
        padding: 15px;
        box-sizing: border-box;
        transform: translateY(200px);
        transition: 1s;
        opacity: 0;
        //border: 1px solid orange;

        &.on { 
            opacity: 1;
            transform: translateY(0px);
        };

        .inner { 
            width: 100%;
            //height: 250px;
            //border: 1px solid #000;
            
            .pic {
                width: 100%;
                height: 300px;
                //background: #000;
                margin-bottom: 20px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    //border: 1px solid orange;
                };
            };
            h2 { 
                font: bold 14px/1 'Cormorant';
                color: #444;
                //margin-bottom: 5px;
                text-align: center;
                //border: 1px solid pink;
                //overflow: hidden;

                &::before { 
                    content: "";
                    height: 1px;
                    width: 100%;
                    background: #A69FA2;
                    display: block;
                    margin-bottom: 10px;
                }

                &::after { 
                    content: "";
                    height: 1px;
                    width: 100%;
                    background: #A69FA2;
                    display: block;
                    margin-top: 10px;
                }
            };
        };
    }
}

#imgPop { 
    position: fixed;
    width: 100%; height: 100vh;
    top: 0; left: 0;
    z-index: 5;
    background: rgba(97, 91, 91, 0.774);
    box-sizing: border-box;
    padding: 10vw;
    display:none;

    .pic { 
        width: 100%; height: 100%;
        background: #000;

        img { 
            width: 100%; height: 100%;
            object-fit: contain;
        }
    }
    span { 
        font: bold 14px/1 'Cormorant Garamond';
        color: #000;
        position: absolute;
        bottom: 4vw; right: 4vw;
        cursor: pointer;
    }
}

/*tablet------------------------------------------------------------------*/
@media screen and (max-width:$tablet) { 
    #gallery { 

        article { 
            width: 50%;
        };
    };
};

/*mobile------------------------------------------------------------------*/
@media screen and (max-width:$mobile) { 

    #collection { 
        >P { 
            width: 100%;
            text-align: justify;
        };
    };
    #gallery { 

        article { 
            width: 100%;
        };
    };
};
