@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap');

.join { 
    padding: 0px 0px 150px;
    .sub_visual { 
        background: url(../img/4_visual/vis3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    };

    .inner { 

        h2 { 
            font: bold 18px/1 'Cormorant Garamond';
            color: #444;
            margin-bottom: 20px;
            // margin-top: 50px;
            //border: 1px solid orange;
        };

        .wrap { 
            display: flex;
            justify-content: space-between;

            .terms { 
                width: 50%;
                padding: 0 30px;
                box-sizing: border-box;
                //border: 1px solid green;
    
                #terms { 
                    width: 100%;
                    height: 120px;
                    resize: none;
                    padding: 20px;
                    font: 13px/1.4 " arial";
                    color: #777;
                    border: 1px solid #D9D5D2;
                    background: #F2F2F2;
                    margin-bottom:10px;
                }  
                .toggle { 
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 30px;

                    input[type=checkbox] { 
                        margin-right: 10px;
                        position: relative;
                        top: -1px;
                        cursor: pointer;
                        filter: saturate(0);
                    }
                    dt { 
                        width: 100%;
                        font: 13px/1 'Open Sans';
                        letter-spacing: 1.5px;
                        border-bottom: 1px solid #333;
                        padding: 10px 0;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        cursor: pointer;
                        transition: 0.3s;
                        opacity: 0.7;
                        position: relative;

                        input[type=checkbox] { 
                            margin-right: 10px;
                            position: relative;
                            top: -1.5px;
                            cursor: pointer;
                            filter: saturate(0);
                        }

                        svg { 
                            font-size: 20px;
                            position: absolute;
                            margin: 0 auto;
                            bottom:7px; right: 0;
                            opacity: 0.5;
                        }
                        .fa-chevron-up{
                            display: none;
                        }

                        &:hover { 
                            opacity: 1;
                        }

                        &.on{
                            opacity: 1;

                            .fa-chevron-down{
                                display: none;
                            }
                            .fa-chevron-up{
                                display: block;
                            }
                        }
                    }
                    dd{
                        width: 100%;
                        padding: 11px 0;
                        box-sizing: border-box;
                        font: 12px/1.5 'Open Sans';
                        color: #555;
                    }
                }
                .agreement { 
                    width: 100%;
                    font: 13px/1 'Open Sans';
                    letter-spacing: 1.5px;
                    border-bottom: 1px solid #333;
                    padding: 10px 0;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    cursor: pointer;
                    transition: 0.3s;
                    opacity: 1;
                    position: relative;
        
                    input[type=checkbox] { 
                        margin-right: 10px;
                        position: relative;
                        top: -1.5px;
                        cursor: pointer;
                        filter: saturate(0);
                    }
                } 
               >p { 
                   padding: 30px;
                   box-sizing: border-box;
                   letter-spacing: 1px;
                   line-height: 2;
                   text-align:justify;
                   color: #222;
               }
            }
            .infor{
                width: 50%;
                padding: 0 30px;
                box-sizing: border-box;
                //border: 1px solid red;
    
                table { 
                    width: 100%;
                    margin-top: 51px;
        
                    tbody { 
                        border-top: 1px solid #555;
                        border-bottom: 1px solid #555;
                        tr { 
                            th { 
                                width: 20%;
                                text-align: left;
                                font: 12px/1.5 'Open Sans';
                                letter-spacing: 1px;
                                color: #333;
                                //border-bottom: 1px solid #D9D5D2;
                                //border-right: 1px solid #ddd;
                                padding: 20px 30px;
                            };
            
                            td { 
                                // width: 80%;
                                //border-bottom: 1px solid #D9D5D2;
                                padding: 20px 30px;
                                font: 12px/1.5 'Open Sans';
        
                                input[type=text],
                                input[type=password],
                                input[type=date],
                                select{ 
                                    width: 100%;
                                    height: 30px;
                                    border: none;
                                    //border: 1px solid #aaa;
                                    //background: #F2F2F2;
                                    border-bottom: 1px solid #D9D5D2;
                                    padding-left: 15px;
                                    font: 12px/1.5 'Open Sans';
                                    box-sizing: border-box;
                                    color: #333;
        
                                    &::placeholder { 
                                        color: #999;
                                    };
        
                                    &:focus { 
                                        border: 1px solid #736868;
                                    };
                                };

                                input[type=date]{
                                    cursor: pointer;
                                };
                                select{
                                    margin-top: 10px;
                                    cursor: pointer;
                                };
        
                                input[type=checkbox],
                                input[type=radio] { 
                                    appearance: none;
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    border: 1px solid #000;
                                    margin-right: 10px;
                                    position: relative;
                                    top: -1.5px;
                                    cursor: pointer;
        
                                    &:checked { 
                                        appearance: none;
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        background-color: #736868;
                                        color: #555;
                                    };
                                };
        
                                label { 
                                    margin-right: 30px;
                                    color: #555;
                                };
        
                                textarea#message{ 
                                    width: 100%;
                                    height: 100px;
                                    border: 1px solid #bbb;
                                    padding: 10px;
                                    box-sizing: border-box;
                                    resize: none;
                                    font: 12px/1.5 'Open Sans';
        
                                    &:focus { 
                                        border: 1px solid #736868;
                                    }
                                };
                                //error
                                p, span { 
                                    display: none;
                                    font: 10px/1;
                                    margin-top: 10px;
                                    box-sizing: border-box;
                                    color: lightsalmon;
                                    transition: all 0.2s;
        
                                    &::before{
                                        content: "";
                                        display: inline-block;
                                        width: 8px;
                                        height: 8px;
                                        margin-right: 10px;
                                        border-radius: 50%;
                                        background-color: lightsalmon;
                                    }
                                };
        
                                span { 
                                    display: none;
                                    margin-right: 10px;
                                    font: 10px/1;
                                    color: #999;
                                    &::before {
                                        background-color: #999;
                                    }
                                    &.error { 
                                        color: lightsalmon;
                                        &::before{
                                            background-color: lightsalmon;
                                        }
                                    }
                                    &.true { 
                                        display: none;
                                    }
                                };
                            };
                        };
                    };
                };
                .btn{
                    margin-top: 20px;
                    text-align: center;
                    input[type=reset], input[type=submit] { 
                        width: 120px; height: 40px;
                        font: bold 12px/40px 'Cormorant Garamond';
                        color: #666;
                        border: 1px solid #777;
                        background: #fff;
                        margin: 0px 20px;
                        cursor: pointer;
                        transition: all 0.5s;
        
                        &:hover { 
                            background-color: #D9D5D2;
                            color: #000;
                        }
                    }
                };
            };
        };
    };
};

/* tablet------------------------------------------ */
@media screen and (max-width: $tablet){
    .join { 
        .inner { 
            table { 
                tbody { 
                    tr {         
                        th { 
                            width: 30%;
                        }
        
                        td { 
                            input[type=text], input[type=password],input[type=date], select, textarea#message { 
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* mobile------------------------------------------ */
@media screen and (max-width: $mobile){
    .join { 
        .inner { 
            table { 
                tbody { 
                    tr {        
                        th { 
                            width: 20%;                            
                        }
        
                        td { 
                            input[type=text], input[type=password],input[type=date], select, textarea#message { 
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}