* {
    margin:0px; 
	padding:0px; 
	box-sizing:border-box; 
}
ul, ol {
    list-style:none;
}
a {
    text-decoration:none;
}
table, th, td { 
    border-collapse: collapse;
}
fieldset{ border: none;}

input, select, textarea { 
    outline: 0;
}
textarea { 
    resize: none;
}
.wrap::after {
    content:""; 
	display:block; 
	clear:both;
}
.h { 
    position: absolute;
    top: -999999px;
    opacity: 0;
}
input, a, img, span, label, select { 
    vertical-align: middle;
}