@charset "utf-8";
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Open+Sans&family=Prata&family=Song+Myung&display=swap');


@mixin title($fontSize:40px, $fontFamily:'Cormorant Garamond',$fontWeight:900, $letterSpa:2px, $color: #000, $align: left, $mb:20px) {
    font: bold $fontSize/1 $fontFamily; 
    font-weight: $fontWeight;
    color: $color;
    letter-spacing: $letterSpa;
    text-align: $align;
    margin-bottom: $mb;
}

/* header--------------------------- */
#header_sub { 
    width: 100%;
    //border-bottom:1px solid #F2F2F2;
    position: relative;
    z-index: 2;

    .inner {
        width: 1180px;
        height: 120px;
        margin: 0px auto;
        position: relative;

        >h1 { 
            position: absolute;
            left:0px;
            bottom: 8px;

            >a { 
                font: bold 24px/1 'Playfair Display';
                color:#333;
                letter-spacing: 3px;
            }
        }

        .menuWeb {
            //width: 100%;
            .gnb {
                position:absolute;
                bottom:0;
                right: 0;

                &::after { 
                    content: "";
                    display: block;
                    clear: both;
                }
                >li {
                    float:left;

                    &::after{
                        content: "";
                        display: block;
                        width: 0px;
                        height: 2px;
                        background: #736868;
                        transition: 0.5s;
                    }
                    &:hover::after { 
                        //border-bottom: 1px solid #736868;
                        //box-sizing: border-box;
                        height: 2px;
                        width: 100%;
                    }
                    &.on { 
                        &::after{
                            content: "";
                            display: block;
                            width: 100%;
                            height: 1.5;
                            background: #736868;
                        }
                    }

                    >a {
                        //width: 100%;
                        display: block;
                        padding: 0px 45px;
                        height: 50px;
                        font: bold 18px/50px 'Cormorant Garamond';
                        color: #555;
                        box-sizing: border-box;
                    }
                    .sub{
                        width: 1180px;
                        height: 300px;
                        position: absolute;
                        top:51px; right:0;
                        display: none;
                        //overflow: hidden;

                        .left  {
                            width: 20%;
                            height: 100%;
                            float:left;
                            >img { 
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .right { 
                            width: 80%;
                            height: 100%;
                            background: #fff;
                            float: right;
                            padding: 10px;
                            box-sizing: border-box;

                            >.depth { 
                                //width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-content: flex-start;
                                flex-wrap: wrap;

                                >ul>li{
                                    &::after{
                                        content:"";
                                        display: block;
                                        width: 0px;
                                        height: 1px;
                                        background: #736868;
                                        transition: 0.5s;
                                    }
                                    &:hover::after { 
                                        //border-bottom: 1px solid #736868;
                                        //box-sizing: border-box;
                                        width: 100%;
                                    }
                                    a { 
                                        display: block;
                                        font: bold 17px 'Cormorant Garamond';
                                        color: #999;
                                        text-align: center;

                                        &:hover { 
                                            color: #222;
                                        }
                                    }
                                }
                            }
                        }
                        &::before{
                            content: "";
                            display: block;
                            width: 100%; height: 100%;
                            position: absolute;
                            top: 0px;
                            left: -100%;
                            background: #D9D5D2;
                        }
                        &::after{
                            content: "";
                            display: block;
                            width: 100%; height: 100%; 
                            position: absolute;
                            top: 0;
                            right: 100%;
                            background:#D9D5D2;
                        }
                    }
                }
            }

            .util { 
                position:absolute;
                top: 20px;
                right: 0px;

                &::after { 
                    content: "";
                    display: block;
                    clear: both;
                }

                li { 
                    float:left;    
                    a { 
                        display: block;
                        font: 12px/1 "arial";
                        color: #999;
                        padding: 0px 10px;
                        border-right: 1px solid #aaa;
                    }
                    &:last-child a { 
                        border-right: none;
                    }
                }
            }
        }

        .btnMo { 
            position: absolute;
            color: #555;
            font-size: 30px;
            right: 30px;
            top:50%;
            transform:translateY(-50%);
            display: none;
            width: 20px;
            height: 20px;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                top: 0;
                left: 0;
                transition: top 0.5s 0s, transform 0.5s 0.5s;

            }
            &::after { 
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #000;
                position: absolute;
                bottom:0;
                left: 0;
                transition: bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span { 
                display: block;
                width: 100%;
                height:2px;
                background: #000;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                text-indent: -9999px;
                transition: 0.5s;
            }
                
            &.on { 
                &::before { 
                    top: 50%; margin-top: -1px;
                    transform: rotate(45deg);
                }
                &::after { 
                    bottom: 50%; margin-bottom:-1px;
                    transform: rotate(-45deg);
                }
                span { 
                    transform: translateX(100%); opacity: 0;
                }
            }
        }

        .menuMo { 
            width: 270px;
            height: 100vh;
            background: rgba(0,0,0,0.8);
            position: fixed;
            top:0;
            left:-270px;
            z-index: 10;
            transition: all 0.5s;
            padding: 35px 30px;
            box-sizing: border-box;

            h1 { 
                border-bottom: 1px solid #666;
                padding-bottom: 30px;
                a { 
                    display: block;
                    font: bold 24px/1 "arial";
                    color: #fff;
                    text-align: center;
                }
                span { 
                    font-size: 12px;
                    color: #aaa;
                }
            }
            
            #gnbMo { 
                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid #444;
                        font: bold 14px/1 "arial";
                        color: #888;
                        text-align: center;
                    }
                }
            }

            &.on { 
                left: 0;
            }
        }//menuMo end
    }
}
/* content-------------------------- */
.content {
    width: 100%;
    padding: 0px 0px 100px;
    z-index: 1;

    .sub_visual { 
        width: 100%;
        height: 300px;
        background: #bbb;
        margin-bottom: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        >.textFrame{
            width: 1180px;
            height: 100%;
            margin:0 auto;
            position: relative;
            
            >.txt { 
                width: 400px;
                height: 200px;
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                box-sizing: border-box;
    
                h1 { 
                    @include title();
                }
                p{ 
                    font: 12px/1.5 'Open Sans';
                    color: #555;
                    background-color: #fff;
                    padding: 20px 10px;
                }
            }
        }
    }

    >.inner { 
        width: 1180px;
        margin: 0px auto;
        min-height: 500px;
        
        h1 { 
            @include title($fontSize:20px, $fontWeight:700, $mb:50px);
            margin-top: 50px;

            &::after { 
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #555;
                margin-top: 10px;
            }
        }
        p { 
            font: 12px/1.5 'Open Sans';
            color: #555;
        }
    }
}
/* footer--------------------------- */
#footer_sub { 
    width: 100%;
    //padding: 30px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;

    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #555;
    }

    .inner { 
        width: 1180px; 
        height: 50px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //border: 1px solid slateblue;
        

        &::after { 
            content: "";
            display: block;
            clear: both;
        }

        h1 { 
            padding: 0 30px;
            box-sizing: border-box;
            //border: 1px solid pink;
            border-right: 1px solid #555;
            a { 
                font: bold 15px/50px 'Playfair Display';
                color:#333;
                letter-spacing: 3px;
            }
        }
        .footermenu { 
            display: flex;
            justify-content:space-between;
            //border: 1px solid pink;
            padding: 0 10px;
            box-sizing: border-box;
            border-right: 1px solid #555;

            >li { 
                padding: 0 10px;
                box-sizing: border-box;

                a { 
                    font: bold 13px/50px 'Cormorant Garamond';
                    font-weight: 600;
                    color: #333;                    
                }
            }
        }
        p { 
            font: 10px/50px 'Open Sans';
            color: #444;
            padding: 0 50px;
            box-sizing: border-box;
            border-right: 1px solid #555;
        }
        
        .newsletter { 
            width: 30%;
            display: flex;
            justify-content:space-between;
            //border: 1px solid pink;
            padding: 10px;
            box-sizing: border-box;
            //border-right: 1px solid #555;
        
            input[type=text]{
                width: 90%;
                font: bold 12px/50px 'Open Sans';
                border:none;
                border-bottom: 1px solid #555;
                //border: 1px solid blue;
                margin-left: 20px;
                
                &::placeholder {
                    font: 10px/50px 'Open Sans';
                    color: #444;
                    // padding: 0 100px;
                    // box-sizing: border-box;
                    text-align: left;
                }
            }
            .fa-telegram-plane{
                display: block;
                width: 30px;
                height: 30px;
                padding: 3px;
                box-sizing: border-box;
                color: #888;
                border-bottom: 1px solid #555;
                transition: 0.4s;
                //margin-right: 20px;

                &:hover { 
                    color: #111;
                }
            }
            

        }
         
        .sns { 
            //width : 50%;
            //border: 1px solid green;
            display: flex;
            justify-content:space-between;
            padding: 0 10px;
            box-sizing: border-box;
            border-left: 1px solid #555;
           
            .fa-instagram, .fa-youtube { 
                display: block;
                width: 40px;
                height: 50px;
                padding: 10px;
                box-sizing: border-box;
                color: #333;
                //border: 1px solid green;
            }  
        }
    }
}

/* tablet------------------------------------------ */
@media screen and (max-width: $tablet){
    /* header--------------------------- */
    #header_sub { 
        .inner { 
            width: 100%;
            height: 100px;

            >h1 { 
                left:20px;
            }

            .menuWeb { display: none; }

            .btnMo { display: block; }
        }
    }
    /* content-------------------------- */
    .content {
        width: 100%;
        padding: 0px 0px 100px;

        .sub_visual { 
            height: 200px;

            .textFrame{
                width: 100%;
            }
        }
       

        .inner { 
            width: 100%;
            padding: 0px 30px;
        }
    }
    /* footer--------------------------- */
    #footer_sub { 
        .inner { 
            width: 100%;
            h1 { 
                padding: 0 10px;                
            }
            .footermenu { 
                padding: 0 20px;
                //border:1px solid blue;
    
                >li { 
                    padding: 0 5px;
                    a { 
                        //font-size: 10px;
                    }
                }
            }
            p { 
                display: none;
            }
            
            .newsletter { 
                width: 30%;
            
                input[type=text]{
                    margin-left: 5px;
                }    
            }
        }
    }
}

/* mobile------------------------------------------ */
@media screen and (max-width: $mobile){
    /* content-------------------------- */
    .content {
        width: 100%;
        padding: 0px 0px 100px;

        .sub_visual { 
            height: 200px;
            .textFrame{
                width: 100%;
            }
        }

        .inner { 
            width: 100%;
            padding: 0px 30px;

            h1 { 
                font: normal 30px/1 "arial";
    
                span { 
                    display: block;
                    font:normal 15px/1 "arial";
                }
            }
        }
    }
    /* footer--------------------------- */
    #footer_sub { 
        .inner { 
            .footermenu { 
                border-right: none;
            }            
            .newsletter { 
                display: none;  
            }
        }
    }
}