@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Forum&family=Libre+Caslon+Display&family=Open+Sans&family=Prata&family=Song+Myung&family=Yeseva+One&display=swap');

// font-family: 'Alegreya Sans', sans-serif;
// font-family: 'Cormorant', serif;
// font-family: 'Forum', cursive;
// font-family: 'Libre Caslon Display', serif;
// font-family: 'Prata', serif;
// font-family: 'Yeseva One', cursive;

.youtube { 
    .sub_visual { 
        background-image: url(../img/robin-schreiner-YKE4zTW5lic-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
